In [1]:
import pandas as pd

In [6]:
scores={'Name': ['Joy','Meg','Princess'],
        'Maths':[70,60,90],
        'English':[60,40,80],
        'Science':[80,70,80]}

In [7]:
scores

{'Name': ['Joy', 'Meg', 'Princess'],
 'Maths': [70, 60, 90],
 'English': [60, 40, 80],
 'Science': [80, 70, 80]}

In [ ]:
{'Name': ['Joy','Meg','Princess'],
        'Maths':[70,60,90],
        'English':[60,40,80],
        'Science':[80,70,80]}

In [8]:
student_score=pd.DataFrame(scores)

In [9]:
student_score

       Name  Maths  English  Science
0       Joy     70       60       80
1       Meg     60       40       70
2  Princess     90       80       80

In [34]:
student_score['Average']=student_score[['Maths','English','Science']].mean(axis=1)

In [35]:
student_score

       Name  Maths  English  Science    Average
0       Joy     70       60       80  70.000000
1       Meg     60       40       70  56.666667
2  Princess     90       80       80  83.333333

In [45]:
student_score.sort_values(by="Avarage", ascending = False)

KeyError: 'Avarage'

Question 2

In [50]:
DegreesTemp=[50,60,40,34]
FarenheitTemp=[((x*9/5)=32) for x in DegreeTemp]
print(FarenheitTemp)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3744555124.py, line 2)